.header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1280px), (min-width: 1281px) {
  .header {
    max-width: 1184px;
    max-height: 52px;
    margin: 28px auto 0 auto;
  }
}

@media (max-width: 1024px) {
  .header {
    max-width: 928px;
    max-height: 52px;
    margin: 28px auto 0 auto;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 720px;
    max-height: 52px;
    margin: 28px auto 0 auto;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 288px;
    max-height: 42px;
    margin: 16px auto 0 auto;
  }
}