.intro {
  margin: 0;
  max-width: 690px;
  min-height: 429px;
}

@media (max-width: 1280px), (min-width: 1281px) {
  .intro {
    margin-left: 148px;
  }
}

@media (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-left: 24px;
  }
}

@media (max-width: 670px) {
  .intro {
    max-width: calc(100% - 32px);
    min-height: calc(754px - 45vw);
    margin-left: 16px;
  }
}