.cover {
  position: relative;
  max-width: 100%;
}

@media (max-width: 1280px), (min-width: 1281px) {
  .cover {
    margin: 92px 48px;
    min-height: 740px;
  }
}

@media (max-width: 1024px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
    min-height: 480px;
  }
}

@media (max-width: 690px) {
  .cover {
    margin-top: 66px;
    margin-bottom: 64px;
    min-height: calc(65vw - 8px);
  }
}