.cover {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 32px 0;
  grid-auto-rows: 0;
}

@media (max-width: 1280px), (min-width: 1281px) {
  .cover {
    margin: 92px auto;
  }
}

@media (max-width: 1024px) {
  .cover {
    margin: 92px 0;
  }
}

@media (max-width: 768px) {
  .cover {
    margin: 92px 0 88px 0;
  }
}

@media (max-width: 320px) {
  .cover {
    margin: 66px 0 64px 0;
  }
}