.cover__title {
  margin: 0;
  text-align: center;
  align-self: end;
  justify-self: center;
  position: relative;
  z-index: 2;
  grid-row: 1;
  grid-column: 1;
}

@media (max-width: 1280px), (min-width: 1281px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
  }
}

@media (max-width: 1024px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
  }
}

@media (max-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}