.footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1280px), (min-width: 1281px) {
  .footer {
    margin: 0 48px 24px 48px;
  }
}

  @media (max-width: 768px) {
  .footer {
    margin-right: 24px;
    margin-left: 24px;
  }
}

  @media (max-width: 690px) {
  .footer {
    max-width: calc(100% - 134px);
    margin-right: auto;
    margin-left: 16px;
    flex-direction: column;
  }
}