.place__website {
  align-self: end;
  padding: 0;
  margin: 0 0 48px 0;
  list-style-type: none;
}

@media (max-width: 320px) {
  .place__website {
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 16px;
    margin-bottom: 32px;
  }
}